---
---

/* prettier-ignore */
@use 'main
{%- if jekyll.environment == 'production' -%}
  .bundle
{%- endif -%}
';

/* append your custom style below */

.gsc-comment-box {
  .color-bg-tertiary {
    background-color: var(--color-canvas-subtle) !important;
  }

  .color-bg-canvas {
    background-color: var(--color-canvas-default) !important;
  }

  .color-bg-primary {
    background-color: var(--color-canvas-default) !important;
  }

  .input-contrast {
    background-color: var(--color-canvas-inset) !important;
  }
}
